@font-face {
  font-family: poppins;
  src: url(./fonts/poppins-regular.ttf);
}
@font-face {
  font-family: segoi;
  src: url(./fonts/segoe-ui.otf);
}
body{
  background: #f8f8f8;
}
.primary-font {
  font-family: 'segoi';
}
.primary-seg {
  font-family: 'poppins';
}
.color-cinza{
  color: #9b9b9b;
}
a {
	text-decoration: none;
	color: #3e3e3e;
}
.bg-white {
  background: #a2aa33;
}
.link-person a {
	color: #3e3e3e;
}
.link-person a:link, .link-person a:visited {
	text-decoration: none;
	color: #3e3e3e;
}
.link-person  a:active {
	text-decoration: none;
	color: #3e3e3e;
}