@font-face {
  font-family: poppins;
  src: url(./fonts/poppins-regular.ttf);
}
@font-face {
  font-family: segoi;
  src: url(./fonts/segoe-ui.otf);
}
body{
  background: #f8f8f8;
}
.primary-font {
  font-family: 'segoi';
}
.primary-seg {
  font-family: 'poppins';
}
a {
	text-decoration: none;
}
.bg-white {
  background: #a2aa33;
}